*{
    padding: 0;
    border: 0;
    text-align: right;
    color: red;
}

body {
    background-image: url('./img/maxresdefault.jpg');
    background-size: cover;
    text-decoration-color: red;
    color: red;
}
